In [ ]:
string = input("Enter a string")
char_count = {}
for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
for char, count in char_count.items():
    print(char,':',count)

Enter a string: nandana
n : 3
a : 3
d : 1

In [ ]:
def max_3(a, b, c):
    if  a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c
n1 = input("enter the number")
n2 = input("enter the number")
n3 = input("enter the number")
print("max number is",max_3(n1,n2,n3))

enter the number3
enter the number4
enter the number1
max number is 4

In [ ]:
def exponent(base, exp):
    expo = 1
    for i in range(exp):
        expo *= base
    return expo

base = int(input('Enter base number'))
exp = int(input('Enter exponent number'))

result = exponent(base, exp)

print(result)

Enter base number2
Enter exponent number3
8

In [ ]:
def sum_of_cubes(n):
    cube_sum = 0
    for i in range(1, n):
        cube_sum += i**3
    return cube_sum

l = int(input('Enter the number: '))

print(sum_of_cubes(l))

Enter the number: 4
36

In [25]:
for i in range(1,11):
  if i % 2 == 0 and i % 5 == 0:
       print("fizzbuzz")
  elif i%2 ==0:
      print("fizz")
  elif i%5 == 0:
      print("buzz")
  else:
      print(i)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizzbuzz

In [27]:
def most_frequent(numbers):
    count = {}
    for num in numbers:
        if num not in count:
            count[num] = 1
        else:
            count[num] += 1
    max_count = max(count.values())
    most_frequent_nums = [num for num, freq in count.items() if freq == max_count]
    return most_frequent_nums

numbers = [1, 2, 3, 2, 1, 3, 2, 3,3,3, 4, 4, 4, 4]

most_frequent_nums = most_frequent(numbers)

print("The most frequent number(s) in the list is/are: ",most_frequent_nums)

The most frequent number(s) in the list is/are:  [3]

In [29]:
def list_sum(numbers):
 total = 0
 for num in numbers:
   total += num**2
 return total


list =[1,2,3,4,5]
sum = list_sum(list)
print(sum)

55

In [32]:
for i in range(1,16):
  if i%2 ==0:
    print(i,"even")
  else:
    print(i, 'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

In [33]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

In [34]:
celsius = 37
fahrenheit = celsius_to_fahrenheit(celsius)
print(celsius, "degrees Celsius is equal to",fahrenheit," degrees Fahrenheit")

37 degrees Celsius is equal to 98.6  degrees Fahrenheit

In [35]:
fahrenheit = 98.6
celsius = fahrenheit_to_celsius(fahrenheit)
print(fahrenheit,"degrees Fahrenheit is equal to",celsius,"degrees Celsius")

98.6 degrees Fahrenheit is equal to 37.0 degrees Celsius

In [41]:
def fact_num(n):
    total = 1
    for i in range(1, n+1):
        total *= i
    return total

number = int(input("enter the number"))
print("factorial is", fact_num(number))

enter the number5
factorial is 120